html {
  font-size: 32px;
}

strong {
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  margin: 8px;
}

article {
  width: 680px;
  padding: 10px;
  border: 2px solid;
  box-sizing: border-box;
}

header {
  border-bottom: 12px solid;
  margin-bottom: 5px;
}

h1 {
  font-family: Helvetica;
  font-size: 2.5rem;
  transform: scaleX(1.15);
  padding: 0;
  margin: 0;
  margin-left: 40px;
  text-shadow: 0px 3px, 3px 0px, 3px 3px;
}

p {
  margin: 0;
}

h2 {
  padding: 10px 0;
  margin: 5px 0;
  font-size: 0.8rem;
  border-top: 25px solid #000000;
  border-bottom: 1px solid #000000;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

dl {
  display: inline-block;
  margin: 0;
  padding: 5px 0;
}

dl:nth-of-type(2) {
  float: right;
}

dt {
  display: inline-block;
}

dt:nth-of-type(2) {
  font-weight: normal; 
  text-shadow: none;
}

dd {
  display: inline-block;
  font-weight: normal;
  margin: 0;
  text-shadow: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  margin-top: 10px;
}

th {
  text-align: left;
  border-bottom: 2px solid;
  padding: 1px 0px;
  font-weight: normal;
}

td {
  text-align: right;
  border-bottom: 2px solid;
}

table:nth-of-type(2) th {
  text-align: left;
  font-weight: normal;
  font-size: 0.8rem;
  border: none;
}

table:nth-of-type(2) td {
  text-align: left;
  font-size: 0.8rem;
  border: none;
}

.indent {
  width: 30px;
  border: none;
}

#vitamin_separator {
  border-bottom: 25px solid;
}

#warning_note {
  padding-left: 0.6em;
  text-indent:-0.6em;
}